// ==============================
// Custom style
// 自定义样式
// ==============================

ul, ol {
    padding-inline-start: 1em;
    //margin-left: 0.33rem;
}

.single .content ul li[data-task] {
    margin-left: -1em;
}

li {
    margin-left: 0.5em;
    margin-bottom: 8px;
    margin-top: 8px;
}

h3 .heading-mark{
    padding-inline-end: 6px;
}

details summary strong {
    margin-left: 6px;
}

.aside-collection {
    margin-top: 64px;
}

// Short code - columns

.md-columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
  
    >div {
      flex: 1 1;
      margin: 1rem 0;
      min-width: 100px;
      max-width: 100%;
      padding: 0 1rem;
    }
  
    .markdown-inner {
      margin-top: 0;
      margin-bottom: 0;
    }
}

.katex-display {
    overflow-y: clip;
}
